<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skirrs"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SkirrsTheme" >

        <!-- Sign-in activity -->
        <activity
            android:name="com.skirrs.SignInActivity"
            android:label="@string/com.skirrs.title_activity_signin"
            android:noHistory="true" >
        </activity>

        <!-- Register activity -->
        <activity
            android:name="com.skirrs.RegisterActivity"
            android:label="@string/com.skirrs.title_activity_register" >
        </activity>

        <!-- Home activity (Main Activity) -->
        <activity
            android:name="com.skirrs.HomeActivity"
            android:label="@string/com.skirrs.title_activity_home"
            android:launchMode="singleTop"
            android:uiOptions="splitActionBarWhenNarrow" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.skirrs.SubmitRide"
            android:label="@string/title_activity_submit_ride" >
        </activity>
    </application>

</manifest>
